<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mirena.appbibliotecas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBibliotecas"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".ui.EleccionFiltros.EleccionFiltrosActivity"
            tools:ignore="Instantiatable"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar"
            >

        </activity>
        <activity
            android:name=".ui.Filtros.FiltrosActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditarPerfil.EditarPerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_editar_perfil"
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Cambiarpass.CambiarPassActivity"
            android:exported="false"
            android:label="@string/title_activity_cambiar_pass"
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Ajustes.AjustesActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.prestamos.adevolver.PrestamosAdevolverActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.prestamos.EnCurso.PrestamosEnCursoActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.prestamos.ARecoger.PrestamosRecogerActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Favoritos.FavoritosActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Pedido.PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".SubgenerosActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Libro.LibroActivity2"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.MainActivity.ScrollingActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar" />
        <activity
            android:name=".ui.Account.AccountActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.AppBibliotecas.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.Login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>